
.vp-sidedock{
    display: none !important;
}

.SideDock_module_root__98c28094, .SideDock_module_root__98c28094 .SideDock_module_sidedockInner__98c28094 {
    transition: opacity .25s ease-out;
    display: none;
}
